<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>room3</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
<h1>room3</h1>
<div>
    <ul class="chat-box">
    </ul>
    <input type="text" name="input" class="input-msg">
    <button id="send-btn">Send</button>
</div>
</body>
<script>
    var room = null;

    function ready(fn) {
        if (document.readyState != "loading") {
            fn();
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }


    function fn() {
        var socket = io.connect("localhost:8000/chat_room", {
            extraHeaders: {
                Authorization: "Bearer authorization_token_here"
            }
        });
        socket.on("connect", function () {
            console.log("----------connected---------", socket.id);
            socket.emit("join_room", {username: "lien", room: "14"});
        });

        var inputEl = document.querySelector("#send-btn");
        var msgEl = document.querySelector(".input-msg");
        var chatBoxUl = document.querySelector(".chat-box");

        socket.on("chat", function (msg) {
            console.log("nhan", msg);
            var li = document.createElement("li");
            li.innerHTML = msg;
            chatBoxUl.appendChild(li);
        });

        socket.on("meta", function (msg) {
            console.log("META:", msg);
            room = msg["room"];
        });

        inputEl.addEventListener("click", function () {
            var value = msgEl.value;
            socket.emit("chat", {value: value, room: room});
            msgEl.value = "";
        });
    }


    ready(fn);


</script>
</html>